@import "tailwindcss";

:root {
  /* светлая тема */
  --background: #f9fafb; /* gray-50 */
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* тёмная тема */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #101828;
    --foreground: #f9fafb;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  white-space: pre-line;
}
